<!-- your html code here -->
<div class="container">
    <div class="row bg-white p-5">
        <div class="col"><h1>Este es el título</h1><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit impedit aliquid minima eaque rem vitae dolore delectus nesciunt beatae, consectetur atque soluta dicta ab architecto hic! Vel tempore expedita iusto.</p></div>
        <div class="col d-flex justify-content-center">
            <div class="container text-center my-3">
                <img src="https://picsum.photos/seed/picsum/300/300" class="rounded-circle" >
            </div>
        </div>
    </div>
</div>