<div class="container-fluid">
    <div class="row bg-white">
        <div class="col-12">
            <div class="container py-5">
                <div class="row bg-white">
                    <div class="col-12">
                        <h2>Portfolio</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorem doloremque iusto saepe aliquid nobis, dolore consequuntur accusantium assumenda, laboriosam cumque aperiam reprehenderit totam, ipsa tenetur pariatur at dicta eaque?</p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card border-white">
                            <img src="https://picsum.photos/seed/picsum/700/400" class="card-img-top rounded-0" alt="paisaje">
                            <div class="card-body">
                              <h5 class="card-title text-primary">Proyect Name</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-4">
                        <div class="card border-white">
                            <img src="https://picsum.photos/seed/picsum/700/400" class="card-img-top rounded-0" alt="paisaje">
                            <div class="card-body">
                              <h5 class="card-title text-primary">Proyect Name</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-4">
                        <div class="card border-white">
                            <img src="https://picsum.photos/seed/picsum/700/400" class="card-img-top rounded-0" alt="paisaje">
                            <div class="card-body">
                              <h5 class="card-title text-primary">Proyect Name</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>